.jumbotron{
	text-align: left;
	color: white;
	background-color: transparent;
	/*background-image: url("jumboimage.png");*/
}

.table{
	font-weight: bolder;
}


body{

	background: url(assets/spirited_away_by_t0fuu.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100% auto;
}

.panel{

	margin-bottom: 80px;
	max-width: 1000px;
}

.panel-body{

	/*opacity: .5; https://stackoverflow.com/questions/24855438/transparent-bootstrap-panel*/

}
h1{

	text-shadow: 1px 5px 2px rgba(170, 161, 179, 1);

}

.panel-heading{

	/*text-align: center;*/
	font-weight: bolder;
}